{% if app.settings.google_tag_manager_enabled %}
<script>
    dataLayer.push({ ecommerce: null });
    dataLayer.push({
        event: 'purchase',
         ecommerce: {
            transaction_id: '{{ order.number|escapejs }}',
            value: {{ order.total_incl_tax | unlocalize | escapejs }},
            tax: {{ order.total_tax|unlocalize|escapejs }},
            shipping: '{{ order.shipping_incl_tax|unlocalize|escapejs }}',
            currency: '{{ order.currency|escapejs }}',
            coupon: '{% if order.voucherapplication_set.first.voucher.code %}{{ order.voucherapplication_set.first.voucher.code }}{% endif %}',
            items: [
                {% for line in order.lines.all %}
                {
                    index: {{ forloop.counter0 }},
                    item_id: '{{ line.product.id|escapejs }}',
                    item_name: '{{ line.title|escapejs }}',
                    affiliation: '{{ store_name|escapejs }}',
                    category: '{{ line.product.categories.first|default:'Uncategorised'|escapejs }}',
                    price: '{{ line.unit_price_incl_tax_incl_discount|unlocalize|escapejs }}',
                    quantity: {{ line.quantity | escapejs }}
                }{% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]
         }
    });
</script>
{% endif %}
